/********************/
/* STYLING THE PAGE */
/********************/
#container {
    margin: auto;
    width: 50%;
    padding-top: 5%;
    position: relative;
    transform-origin: top center;
    /* z-index: -999; */
}
.minor {
    font-size: 12px;
    font-style:italic;
}

#proceed_button {
    margin-bottom: 20px;
    min-width: 95px;
    /* position: relative;
    display: inline-block;
    transform: translate(360px, 35px); */
}

/* ******************** */
/* STYLING ZOOM BUTTONS */
/* ******************** */
#zoomOut {
    background: url(zoom-out.svg) no-repeat;
    background-position: 4px 4px;
    background-size: 65%;
    background-color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 2px solid #ADD8E6;
    border-radius: 25px;
    position: fixed;
    top: 5px;
    left: 5px;
}
      
#zoomOut:hover {
    background-color: #006599!important;
    border: 2px solid #006599!important;
    background-position: 4px!important;
    background-size: 70%!important;
    background: url(zoom-out-hover.svg) no-repeat;
}
      
#zoomIn {
    background: url(zoom-in.svg) no-repeat;
    background-position: 4px 4px;
    background-size: 65%;
    background-color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 2px solid #ADD8E6;
    border-radius: 25px;
    position: fixed;
    top: 5px;
    left: 40px;
}

#zoomIn:hover {
    background-color: #006599!important;
    border: 2px solid #006599!important;
    background-position: 4px!important;
    background-size: 70%!important;
    background: url(zoom-in-hover.svg) no-repeat;
}  

/**************************/
/* REPEATED PAGE ELEMENTS */
/**************************/

#uorLogo{
    width: 300px;
}

#bookendImg {
    margin-left: 45px;
    display: inline;
    width: 165px;
    float: right;
    transform: translate(-5px, 5px);
  }

/*******************/
/* DEBRIEF BUTTONS */
/*******************/

  /* #endSession_btn {
    margin-bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: 20px;
    display: none;
  }
  #endSession_btn_redcap {
    margin-bottom: 25px;
    left: 50%;
    pointer-events: none;
    background-color: #a1d4ee;
    border-color: #a1d4ee;
    transform: translateX(-50%);
    position: absolute;
    margin-top: 20px;
  } */